<!-- <p>dialog works!</p> -->
<h1 mat-dialog-title>{{data.title}}</h1> 
<div mat-dialog-content> 
  <p>{{data.message}}</p> 
  <!-- <mat-form-field> 
    <input matInput [(ngModel)]="data.animal"> 
  </mat-form-field>  -->
</div> 
<div mat-dialog-actions> 
  <button mat-button mat-dialog-close cdkFocusInitial (click)="onCancel()">{{data.closeButtonName !== null || data.closeButtonName != ''
   ? data.closeButtonName : 'OK' }}</button> 
  <!-- <button mat-button [mat-dialog-close]="data.animal"  
             cdkFocusInitial>Ok</button>  -->
</div> 